@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body{
  font-family: 'inter' ,sans-serif;
}

.star-shape{
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%, 
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    35% 35%


  ); 
}
.dark{
color-scheme: dark;
}

html{
  scroll-behavior: smooth;
}


.perspective {
  perspective: 1200px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.backface-hidden {
  backface-visibility: hidden;
}


